@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "reset.css";
@import "status-bar.css";
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.welcome-header {
  margin-top: 90px;  
}

.welcome-header__title {
    margin-bottom: 40px;
    font-size: 25px;
    display: flex;
}
.welcome-header__text {
    width: 50%;
}



