

#friends-display-link{
    text-align: center;
    display: block;
    background-color: rgb(243, 243, 242);
    padding: 10px 0px;
    font-size: 18px;
    margin-bottom: 10px;
}
#friends-display-link i {
    color:rgba(0,0,0,0.3);
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.user-component__avater--sm {
  width: 60px; 
  height: 60px;
  border-radius: 25px;  
}