


.box-main {
    color: rgba(0,0,0,0,5);
}

.box1 {
    display: flex;
    align-items: center;
}

.box-text {
    margin-left: 17px;
    font-size: 25px;
    font-weight: 500;
}

.box-2-inside {
    border-top: solid 0.5px;
    margin-top: 17px;
    margin-left: 25px;
    padding-top: 10px;   
    display: flex;
    justify-content: space-between;
}

.box-img {
    margin-right: 15px;
    margin-left: 25px;
    width: 75px;
    height: 75px;
    border-radius: 30px;
}

.box-img2 {
    margin-right: 15px;
    margin-left: 25px;
    width: 60px;
    height: 60px;
    border-radius: 25px;  
}

.box-3 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    margin-right: 15px;
}

.box-3-inside-2 {
    margin-right: 10px;
    font-size: 13px;
    display: inline-block;
}

.box-3-inside-1 {
    display: flex;
    align-items: center;
}

.box-text2 {
    margin-top: 7px;
    font-size: 14px;
    color: rgba(0,0,0,0,5);
}

.box2-1 {
    display: flex;
    align-items: flex-end;
}

.box-3-inside-1-text-2 {
    margin-top: 10px;
    font-size: 13px;
    color: rgba(0,0,0,0,5);
}

.box-3-inside-1-text-1 {
    font-size: 21px;
    font-weight: 900;
}

.box-3-inside-2-text-box {
    margin-top: 11px;
    background-color: tomato;
    width: 22px;
    height: 22px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}







