



.box {
    display: flex;
    align-items: center;
}

.box-img {
    margin-left: 25px;
    width: 75px;
    height: 75px;
    border-radius: 30px;
}

.box-text {
    margin-left: 20px;
    font-size: 25px;
    font-weight: 500;
}

.box-2 {
    border-top: solid 0.5px;
    margin-top: 17px;
}








