
.channel-box {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.3);
    margin: 20px 15px;
}

.channel-box__div {
    margin-top: 15px;
}

.channel-box__div span,
.channel-box__div i {
    color: rgba(0,0,0,0.6);
}