
.body-box {
    background-color: rgb(149, 205, 241);
    height: 11000vh;
}


.status-box, 
.header-box {
    position: fixed;
    width:100%;
}

.status-box {
    padding: 20px 15px;
    box-sizing: border-box;
    background-color: rgb(149, 205, 241);
}

.header-box {
    padding: 20px 30px;
    box-sizing: border-box;
    top: 40px;
    background-color: rgb(149, 205, 241);
}


.hello-box {
    margin-top: 150px;
}

.status-box {
    top: 0;
}



