
.user-box3 {
    border: none;
    margin-top: 40px;
}

.user-box__sub {
    display: block;
}

.user-box__sub h5{
    margin-top: 10px;
    font-size: 13px;
    color: rgba(0,0,0,0.6);
}

.user-box__img3 {
    display: flex;
    flex-direction: column;
    margin-top: 9px;
}

.user-box__img2__time {
    color: rgba(0,0,0,0.6);
    font-weight: 200;
    font-size: 14px;
}

.user-box__img2__text {
    background-color: tomato;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 10px;
}
