
.main-box {
    margin-top: 160px;
}

.start-box, .header-box {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(156, 206, 226);
} 

.start-box {
    top: 0;
    padding: 15px;
}

.header-box {
    top: 45px;
}


