
.friends-bar {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    padding: 12px 0px;
}

.friends-bar i {
    color: rgba(0,0,0,0.3);
} 

.friends-bar i:last-child {
    margin-left: 3px;
}

