
.header-box {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.header-box span {
    font-size: 35px;
    font-weight: 600;
}

.header-box i {
    margin-left: 15px;
}





