
.friends-box {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
}

.friends-box img {
    width: 80px;
    height: 80px;
    border-radius: 25px;
}

.friends-box__div--2 span, 
.friends-box__div--2 i {
    color: rgba(0,0,0,0.5);
}

.shenme {
    background-color: yellow;
}

