
.header-box {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.header-box__title {
    font-weight: 600;
    font-size: 37px;
}

.header-box__sub-title {
    font-size: 15px;
    color: rgba(0,0,0,0.5);
    margin-top: 30px;
    width: 60%;
}






