
.header-box {
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    background-color: rgb(129, 210, 224);
    animation: hyokwon 0.5s forwards;
}

.header-box__div {
    width: 33%;
}

.header-box__div:nth-child(2) {
    display: flex;
    justify-content: center;
}

.header-box__div:last-child {
    display: flex;
    justify-content: flex-end;
}

.fa-search {
    margin-right: 25px;
}

.header-box__div span {
    font-size: 30px;
    font-weight: 600;
}

@keyframes hyokwon {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}



