
.header-box {
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    background-color: rgb(145, 217, 229);
}

.header-box__div {
    width: 33%;
}

.header-box__div:nth-child(2) {
    display: flex;
    justify-content: center;
}

.header-box__div:last-child {
    display: flex;
    justify-content: flex-end;
}

.header-box__div:nth-child(2) span {
    font-size: 35px;
    font-weight: 600;
}