

.img-box {
    margin-left: 20px;
    display: flex;
}

.img-box__div {
    display: flex;
    align-items: center;
}

.img-box__div span {
    display: block;
}

.img-box__div img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.span-nico {
    margin-bottom: 10px;
}

.img-box__div__div {
    margin-left: 12px;
}

.time-box {
    margin-top: 53px;
    margin-left: 5px;
}

.span-hi {
    display: flex;
    text-align: center;
    background-color: white;
    padding: 11px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.img-box2 {
    flex-direction: row-reverse;
    margin-right: 20px;
}

.time-box2 {
    margin-top: 25px;
    margin-right: -3px;
}

.span-hi2 {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
}

