
.form-box {
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
    margin-top: 60px;
}

.input-box {
    padding: 12px 0px;
    outline: none;
    border: 0;
    margin-top: 10px;
}

.input-box:not([type="submit"]) {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    transition: border-color 0.3s ease-in-out;
}

.input-box:focus {
    border-color: var(--color);   
}

.input-box[type="submit"] {
    background-color: var(--color);
    border-radius: 8px;
    padding: 20px 0px;
}

.form-box a {
    text-align: center;
    text-decoration: none;
    color:inherit;
    margin-top: 10px;
}




