

.login-form {
    display: flex;
    flex-direction: column;
    margin: 50px 30px;
    outline-style: none;
}

.login-form input {
    padding: 15px;
    border: none;
    border-bottom: 1px solid black;
}

.login-form input[type="submit"] {
    color=yellow;
}