
.nav2-box {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 13px 30px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.4);
}

.div__li {
    display: flex;
    justify-content: space-between;
}