
.nav-box__ul {
    display: flex;
    justify-content: space-between;
    padding: 12px 30px;
    background-color: rgba(0,0,0,0.1);
}

.nav-box {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.4);
}

.nav-box__link {
    position: relative;
}

.nav-badge {
    background-color: tomato;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: absolute;
    left: 13px;
    bottom: 10px;
    font-weight: 500;
}

.nav-badge2 {
    font-size: 0;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: tomato;
    position: absolute;
    right: -8px;
    bottom: 23px;
}



