
@keyframes hyokwon {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.1;
    }
}


.link-box__sibal {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    top: -20px;
    right: -10px;
    animation: hyokwon 2s ease-in-out forwards;
    animation-delay: 2s;
}



.a-box {
    position: relative;
}

@keyframes kohyokwon {
    0% {
        transform: none;
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: none;
    }
}

.fa-user {
    animation: kohyokwon 0.2s ease-in-out infinite;
}

