
.space-box {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    margin: 0px 15px;
}

.space-box div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.space-box span {
    margin-top: 10px;
}

.space-box i {
    font-size: 38px;
}