
.start-box {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.start-box__div {
    width: 33%;
}

.start-box__div:nth-child(2) {
    display: flex;
    justify-content: center;
}

.start-box__div:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.start-box__div:last-child span,
.fa-battery-full {
    margin-right: 5px;
}


