
.start-box {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: rgb(145, 217, 229);
}

.start-box__div {
    width: 33%;
}

.start-box__div:nth-child(2) {
    display: flex;
    justify-content: center;
}

.start-box__div:last-child {
    display: flex;
    justify-content: flex-end;
}

.fa-battery-full {
    margin: 0 5px;
}

.fa-search {
    margin-right: 25px;
}





