
.status-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 0px 5px;
}

.status-box__text {
    width: 100%;
}

.status-box__text:nth-child(2) {
    display: flex;
    justify-content: center;
}

.status-box__text:last-child {
    display: flex;
    justify-content: flex-end;
}

.status-box__text span {
    margin-right: 5px;
}

.status-box__text:last-child {
    display: flex;
    align-items: center;
}
