

.box {
    display: flex;
    justify-content: center;
}

.box__text {
    width: 33%;
}

.box__text:first-child span{
    margin-right: 5px;
}

.box__text:nth-child(2){
    display: flex;
    justify-content: center;
}

.box__text:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fa-battery-full {
    margin: 0px 5px;
}