
.border-box {
    display: flex;
    justify-content: space-between;
}

.nav2-ul {
    display: flex;
    justify-content: space-between;
    animation: hyokwon 0.6s ease-in-out ;
}



@keyframes hyokwon {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform:translateX(20px)
    }
}

@media screen and (max-width:650px) {
    .nav2-ul {
        display: none;
    }
}

