
.user-box {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 30px;
    align-items: center;
}

.user-box h5 {
    font-weight: 600;
    margin-bottom: 4px;
}

.user-box h6{
    color: rgba(0,0,0,0.4);
    margin-bottom: 4px;
}

.user-box__mini-box img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.user-box__div-2 img {
    width: 120px;
    height: 120px;
    border-radius: 12px;
}


